.container {
  transition: all 0.25s ease;
}

.sticky {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #ffd000;
}

.sticky .header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sticky .navbar {
  background-color: #1543db;
}

.logo {
  transition: all 0.25s ease-out;
}

.header, .navbar {
  transition: all 0.25s ease;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #1641CC;
  color: white;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.language {
  border-bottom: 1px solid;
  padding: 0 10px;
  transition: all 0.25 ease;
}

.language:hover {
  border-bottom: 2px solid;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #1137b4;
  color: white;
  height: 80px;
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
}

.navbar ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.navbar ul li:hover {
  border-bottom: 3px solid;
}
