.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 240px;
  background-color: #1137b4;
  color: white;
  width: 100%;
  height: calc(100vh - 100px);
}

.heroDescription {
  max-width: 1400px;
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: 1.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.serviceItems {
  display: flex;
  gap: 50px;
}

.serviceItemCard {
  width: 600px;
  height: 250px;
  background: #c9c9c9;
}

.craneContainer {
  width: 1200px;
  height: 250px;
  background: #c9c9c9;
}

.customers {
  width: 1200px;
  height: 50px;
  background: #c9c9c9;
}

.safetyFirst {
  width: 1200px;
  height: 250px;
  background: #c9c9c9;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
